*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.contener{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/BG\ image2.jpg);
  /* position: relative; */
}
.contener-child{
 /* position: absolute; */
 width: 25%;
 height: 88vh;
 /* background-color: aqua; */
 background-image: url(/assets/images/BG\ image2.jpg);
 box-shadow: 5px 5px 10px 10px;
 text-align: center;
 line-height: 4vh;
 margin-top: 2%;
 position: relative;
}
.contener-child h1{
  margin-top: 6%;
  color: blue;
  letter-spacing: 2px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 2.8rem;
}
.contener-child input{
   width: 82%;
    height: 5vh;
    border-radius: 3px;
 
    
}
input{
     border: 2px solid blue;
     box-shadow: 1px 2px 2px 2px;
}
.input-s{
  position: absolute;
  top: 18%;
  left:9%;
}
.input-s-b{
  position: absolute;
  top: 28%;
  left:9%;
}

 input::placeholder{
  padding: 8px;
  color: rgba(0, 0, 255, 0.425);
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.login-btn{
  position: absolute;
  width: 83%;
  height: 35px;
  top: 40%;
  left: 8%;
  background-color: rgba(5, 5, 250, 0.938);
  border-radius: 16px;
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  font-style: oblique;
  font-family: a;
}
.span-p{
  position: absolute;
  top: 48%;
  left: 17%;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.divider {
  
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
  margin: 20px;
  margin-top: 50%;
}
.or{
  color: black;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid black; /* Patli line */
}

.divider:not(:empty)::before {
  margin-right: 8px;
}

.divider:not(:empty)::after {
  margin-left: 8px;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 50px;
  
}

.social-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.facebook-btn {
  background-color: rgba(0, 0, 255, 0.918); /* Facebook blue */
  color: white;
  margin-right: 20px;
  position: relative;
  right: 10px;

}
.facebook-btn image {
 display: flex;
 gap: 50%;
  

}

.google-btn {
  background-color: rgba(0, 0, 255, 0.938);
  color: white;
  border: 1px solid #0c0c0c;
  margin-right: 20px;
  position: relative;
  right: 10px;
  
}

.google-btn img {
  width: 20px;
  height: 20px;
  /* margin-right: 17%; */
}

.facebook-btn img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); /* icon white dikhe */
  /* margin-right: 28%; */
  
}
span{
  color: aliceblue;
}
button:hover{
color: black;
background-color: rgb(145, 165, 29);
}
a{
  text-decoration: none;
}

.fb-img{
  position: absolute;
  left: 15px;
}
.google-img{
  position: absolute;
  left: 15px;
}