/* ===== Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== Common Container ===== */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* ===== HEADER ===== */
.header {
  background: #111;
  color: #fff;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between; /* space-between as you wanted */
  align-items: center;
  height: 70px;
}

/* Logo */
.logo h1 {
  font-size: 22px;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 3px;
  background: #fff;
}

/* ===== Mobile Menu ===== */
/* .mobile-menu {
  display: none;
  height: 80vh;
  width: 100%;

  background: rgba(0, 0, 0, 0.014);
} */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 290px;
  height: 100vh;
  background: #222;

  /* Start hidden (left side) */
  transform: translatex(-100%);
  transition: transform 1.2s ease;

  z-index: 999;
}

/* Jab active ho */
.mobile-menu.active {
  transform: translateX(0);
}

.mobile-menu ul {
  list-style: none;
  padding: 20px;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
}

.mobile-menu li {
  margin-bottom: 15px;
}

.mobile-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* ===== Cards Section ===== */
.cards-section {
  padding: 60px 0;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */
.card {
  border: 1px solid #ddd;
  padding: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
}

.card-content h2 {
  margin: 15px 0;
}

.card-buttons {
  display: flex;
  gap: 10px;
}

.card-buttons button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background: #111;
  color: #fff;
}

/* ===== Responsive ===== */
@media (max-width: 767px) {
  /* Hide center nav */
  .nav {
    display: none;
  }

  /* Show hamburger */
  .hamburger {
    display: flex;
  }

  /* Cards stacked */
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
}

/* Mobile menu active */
.mobile-menu.active {
  display: block;
}
