* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter',sans-serif;
    color: #111;
    background-color: #f2f2f2;
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

/* Header */
header {
    background-color: yellow;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-weight: 700;
    font-size: 1.5rem;
}
nav ul {
    display: flex;
    gap: 20px;
}
nav li {
    list-style: none;
}
.btn-primary {
    background-color: yellow;
    color: #111;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    margin-left: 40px;
}

/* Hero */
.hero {
    background: #fff;
    padding: 60px 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
.hero-text {
    flex: 1;
}
.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-left: 30px;
}
.hero-text p {
    margin-bottom: 30px;
    margin-left: 30px;
}
.hero-img {
    flex: 1;
}
.hero-img img {
    width: 100%;
    height: auto;
}

/* clients */
.clients {
    background: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.clients img {
    max-height: 32px;
    opacity: 0.7;
}
/* services */
.services {
    background: #fff;
    padding: 60px 0;
}


.services h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    background-color: yellow;
    font-weight: 600;
    
}
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 20px;
}
.services-card {
    background: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    
}
.services-card h3 {
    margin-bottom: 16px;
    font-weight: 600;
    
    
}

/* process */
.process {
    background: #fff;
    padding: 60px 0;
}
.process h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    background-color: #8cff66;
}
.steps {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.step {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 34px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.step-number {
    width: 40px;
    height: 40px;
    background: #8cff66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.step-desc {
    font-weight: 500;
}

/* contact */
.contact {
    background: #fff;
    padding: 60px 0;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    background-color: yellow;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: grid;
    gap: 16px;
}

.contact-form label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background: #111;
    color: #fff;
    padding: 12px;
    border: none;
    box-sizing: 4;
}

.container-footer-grid{
    display: flex;
    justify-content: space-between;
    background: #8cff66;
}

.red{
    background: #8cff66;

}
.footer-bottom{
    color: white;
}