*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* html, body {
  width: 100%;
  height: 100%;
} */


#navbar {
  height: 78px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.986);
  position: fixed;
  top: 2px;

  padding: 15px 20px;
  box-shadow: 0 1px 3px ;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

#navbar #logo img{
height: 60px;
margin-top: 7px;
margin-left: 12px;

}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  }

ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
  }

li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
  color: black;
  font-style: normal;
  font-family: Arial, ;
  }

.link:hover {
  text-decoration: underline;
  color: black ;

}

li a:hover{
  color:red;
}

#right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  }

#right p {
  font-size: 20px;
  font-weight: 600;

}

#right i  {
  padding-right: 30px;
  font-size: 25px;
  
}

/*card section*/
/*row 1 */


.main {
  width: 100%;
  height: 800px;
  margin-top: 11%;
  position: relative;
  
  
    
}

.row_1_heading {
  width: 100%;
  height: 41px;
  position: relative;
  
  

}


.heading_1 {
  width: 97%;
  height: 33px;
  margin-left: 15px;
  margin-top: 9px;
  
  position: absolute;
  
  
  
  
}

.heading_1 h1 {
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}



.row_1 {
  
  width: 100%;
  height: 300px;
  margin-top: 5px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 3px;
  
  
  
  
}


.box {
  width: 19%;
  
  
  
}

.box1 {
  background-image: url(./imags/card\ 1.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
  
}

.top {
  position: absolute;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 7px;
  align-items: center;
  
  
  }

  .top p {
    border: 1px solid black;
    background-color: #ffffffd0;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial,;
    padding: 5px;
    border-radius: 15px;
    margin-top: 25px;
    letter-spacing: 1px;
  }

  .top i {
    margin-top: 30px;
    font-size: 25px;
    color: white;
    
  }

  .bottom {
    width: 100%;
    height: 50px;
    margin-top: 91%;
    border-radius: 5px;
    background-color: #ffffffd2;
    
  }

  .bottom p {
    font-size: 14px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
  }

  .bottom .P2{
   font-size: 14px;
   font-weight: 100;
   margin-top: 4px;
  }

  .box2 {
  background-image: url(./imags/card\ 2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

  .box3 {
  background-image: url(./imags/card\ 3.png);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

  .box4 {
  background-image: url(./imags/card\ 4.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

.box5 {
   background-image: url(./imags/card\ 5.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}
/*card section    */
/*row 1  complet */


/* row 2  */


.row_2_heading {
  width: 100%;
  margin-top: 24%;
  height: 50px;
  position: relative;
  
  
}

.heading_2 {
  width: 100%;
  height: 40px;
  margin-left: 15px;
  top: 5px;
  position: absolute;
  
  
  
  
}

.heading_2 h1 {
  font-size: 26px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.row_2 {
   width: 100%;
  height: 300px;
  margin-top: 1px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 3px;

}

.box6 {
  background-image: url(./imags/card\ 6.webp);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}


.box7 {
  background-image: url(./imags/card\ 7.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

.box8 {
  background-image: url(./imags/card\ 8.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

.box9 {
  background-image: url(./imags/card\ 9.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

 .box10 {
  background-image: url(./imags/card\ 10.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}
/* row 2 complet*/


/*row 3 start*/


.row_3_heading {
  width: 100%;
  margin-top: 24%;
  height: 50px;
  position: relative;
  
  
}

.heading_2 {
  width: 100%;
  height: 40px;
  margin-left: 15px;
  top: 5px;
  position: absolute;
  
  
  
  
}

.heading_2 h1 {
  font-size: 26px;
  font-weight: 600;
  padding-left: 20px;
  padding-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.row_3 {
   width: 100%;
  height: 300px;
  margin-top: 1px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 1px 3px;

}

.box11 {
  background-image: url(./imags/card\ 11.webp);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}


.box12 {
  background-image: url(./imags/card\ 12.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

.box13 {
  background-image: url(./imags/card\ 13.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

.box14 {
  background-image: url(./imags/card\ 2.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}

 .box15 {
  background-image: url(./imags/card\ 6.webp);
  background-size: cover;
  background-position: center;
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  height: 230px;
  border-radius: 15px;
}


/*  footer section  */


.main_f {
  width: 100%;
  height: 100vh;
  margin-top: 22%;
  position: relative;
  background-color: chartreuse;
}

.chaild {
  width: 98%;
  height: 99px;
  position: absolute;
  margin-left: 1% ;
  margin-top: 1%;
  background-color: aqua;
}











